/*
Copyright 2010 Three Crickets LLC.

The contents of this file are subject to the terms of the Apache License
version 2.0: http://www.opensource.org/licenses/apache2.0.php
 
Alternatively, you can obtain a royalty free commercial license with less
limitations, transferable or non-transferable, directly from Three Crickets
at http://threecrickets.com/
*/

/* Header */

div#header a {
	text-decoration: none;
	font-weight: bold;
	color: black;
}
div#header a:hover {
	text-decoration: underline;
}

/* MongoVision Components */

div.x-mongovision-system-collection a span {
	color: #999999;
}

div.x-mongovision-document {
	font: 11px/13px arial, tahoma, helvetica, sans-serif;
	line-height: 180%;
	border-bottom: 1px #CCCCCC solid;
	padding-left: 5px;
}

div.x-mongovision-wrap {
	white-space: normal !important;
}

div.x-mongovision-nowrap {
	white-space: nowrap;
}

div.x-mongovision-invalid {
	color: red;
}

/* Ext-JS Views */

div.x-view-over {
	background-color: #DDDDDD;
}

div.x-view-selected {
	background-color: #D0DEF0;
}

/* Ext-JS Tree */

div.x-tree-node-expanded-important div.x-tree-node-icon {
	background-image: url('../script/sencha/resources/images/default/tree/folder-open.gif') !important;
}

/* Ext-JS Grid */

div.x-grid3-row {
	border-bottom: 1px #CCCCCC solid;
}

td.x-grid3-cell {
    padding-right:0;
	border-right: 1px #CCCCCC solid;
}

div.x-grid3-row-selected {
	border-top-color: #DFE8F6 !important;
}

div.x-grid3-hd-inner {
	font-weight: bold;
}
