/*
Copyright 2010 Three Crickets LLC.

The contents of this file are subject to the terms of the GPL version 3.0:
http://www.opensource.org/licenses/gpl-3.0.html
 
Alternatively, you can obtain a royalty free commercial license with less
limitations, transferable or non-transferable, directly from Three Crickets
at http://threecrickets.com/
*/

div#header a {
	text-decoration: none;
	font-weight: bold;
	color: black;
}
div#header a:hover {
	text-decoration: underline;
}

.x-view-over {
	background-color: #DDDDDD;
}

.x-view-selected {
	background-color: #D0DEF0;
}

.x-mongovision-system-collection a span {
	color: #999999;
}

.x-mongovision-document {
	font: 11px/13px arial, tahoma, helvetica, sans-serif;
	line-height: 180%;
	border-bottom: 1px #CCCCCC solid;
	padding-left: 5px;
}

.x-mongovision-nowrap {
	white-space: nowrap;
}

.x-mongovision-invalid {
	color: red;
}
