<%
var base = conversation.pathToBase
%>
<html>
<head>
	<title>MongoVision</title>
<%
var debug = application.globals.get('mongovision.extJS.debug')
if (debug && debug.booleanValue()) {
%>
	<!-- Ext-JS Debug -->
	<link rel="stylesheet" type="text/css" href="<%= base %>/script/sencha/resources/css/ext-all-notheme.css" />
	<link rel="stylesheet" type="text/css" href="<%= base %>/script/sencha/resources/css/xtheme-blue.css" />
	<link rel="stylesheet" type="text/css" href="<%= base %>/script/sencha/resources/css/debug.css" />
	<script type="text/javascript" src="<%= base %>/script/sencha/adapter/ext/ext-base-debug.js"></script>
	<script type="text/javascript" src="<%= base %>/script/sencha/ext-all-debug.js"></script>
<% } else { %>
	<link rel="stylesheet" type="text/css" href="<%= base %>/script/sencha/resources/css/ext-all-notheme.css" />
	<link rel="stylesheet" type="text/css" href="<%= base %>/script/sencha/resources/css/xtheme-blue.css" />
	<script type="text/javascript" src="<%= base %>/script/sencha/adapter/ext/ext-base.js"></script>
	<script type="text/javascript" src="<%= base %>/script/sencha/ext-all.js"></script>
<% } %>
	<link rel="stylesheet" type="text/css" href="<%= base %>/style/mongovision.css" />
	<script type="text/javascript" src="<%= base %>/script/sencha/ux/App.js"></script>
	<script type="text/javascript" src="<%= base %>/script/mongovision.js"></script>

	<link rel="shortcut icon" href="<%= base %>/media/mongodb-leaf.ico" />
</head>
<body id="body">
	<div id="header">
		<table width="100%" height="100%"><tr>
			<td width="50%" align="left">
				<table height="100%"><tr>
					<td style="padding-right: 10px;">
						<img src="<%= base %>/media/mongodb-leaf.png" />
					</td>
					<td>
						<h2>MongoVision</h2>
						<span style="font-size: x-small;">Version 1.0 alpha</span>
					</td>
				</tr></table>		
			</td>
			<td width="50%" align="right" style="font-size: x-small;">
				<a href="http://code.google.com/p/mongo-vision/">Community and Support</a><br />
				Made with <a href="http://threecrickets.com/prudence/">Prudence</a><br />
				By <a href="http://threecrickets.com/">Three Crickets</a>
			</td>
		</tr></table>		
	</div>
</body>
</html>