<%
document.cacheDuration = 5000
var base = conversation.pathToBase
var locale = conversation.query.get('locale') || application.globals.get('mongovision.locale') || 'en'
var debug = application.globals.get('mongovision.extJS.debug')
debug = (conversation.query.get('debug') == 'true') || (debug && debug.booleanValue())
%>
<html>
<head>
	<title>MongoVision</title>
	<link rel="shortcut icon" href="<%= base %>/media/mongovision.ico" />
<% if (debug) { %>
	<!-- Ext JS Debug -->
	<link rel="stylesheet" type="text/css" href="<%= base %>/style/ext/css/reset-min.css" />
	<link rel="stylesheet" type="text/css" href="<%= base %>/style/ext/css/ext-all-notheme.css" />
	<link rel="stylesheet" type="text/css" href="<%= base %>/style/ext/css/xtheme-blue.css" id="ext-theme" />
	<script type="text/javascript" src="<%= base %>/script/ext/ext-base-debug.js"></script>
	<script type="text/javascript" src="<%= base %>/script/ext/ext-all-debug.js"></script>
	
	<!-- Ext JS Debug Console -->
	<link rel="stylesheet" type="text/css" href="<%= base %>/style/ext/css/debug.css" />
	<script type="text/javascript" src="<%= base %>/script/ext/debug.js"></script>
<% } else { %>
	<!-- Ext JS -->
	<link rel="stylesheet" type="text/css" href="<%= base %>/style/ext/css/reset-min.css" />
	<link rel="stylesheet" type="text/css" href="<%= base %>/style/ext/css/ext-all-notheme.css" />
	<link rel="stylesheet" type="text/css" href="<%= base %>/style/ext/css/xtheme-blue.css" id="ext-theme" />
	<script type="text/javascript" src="<%= base %>/script/ext/ext-base.js"></script>
	<script type="text/javascript" src="<%= base %>/script/ext/ext-all.js"></script>
<% } %>
	<!-- MongoVision's Ext JS Extensions -->
	<script type="text/javascript" src="<%= base %>/script/ux/HumanJSON.js"></script>
	<script type="text/javascript" src="<%= base %>/script/ux/LoadMask.js"></script>
	<script type="text/javascript" src="<%= base %>/script/ux/PerPage.js"></script>
	<script type="text/javascript" src="<%= base %>/script/ux/ReusableJsonStore.js"></script>
	<script type="text/javascript" src="<%= base %>/script/ux/TextFieldPopup.js"></script>
	<script type="text/javascript" src="<%= base %>/script/ux/ThemeSwitcher.js"></script>

	<!-- Gritter Ext JS Extension (https://github.com/zir/ext-growl) -->
	<link rel="stylesheet" type="text/css" href="<%= base %>/style/ux/gritter/css/ext-growl.css" />
	<script type="text/javascript" src="<%= base %>/script/ux/ext-growl.js"></script>

	<!-- MongoVision -->
	<link rel="stylesheet" type="text/css" href="<%= base %>/style/mongovision.css" />
	<link rel="stylesheet" type="text/css" href="<%= base %>/style/mongovision-blue.css" id="mongovision-theme" />
	<script type="text/javascript" src="<%= base %>/script/locale/<%= locale %>.js"></script>
	<script type="text/javascript" src="<%= base %>/script/mongovision.js"></script>
<% if (debug) { %>
	<script type="text/javascript">
		Ext.onReady(function() {
			Ext.log('MongoVision has been started in debug mode.');
		});
	</script>
<% } %>
</head>
<body id="body">
	<div id="header" style="visibility: hidden;">
		<table width="100%"><tr>
			<td width="1%" align="left">
				<table height="100%"><tr>
					<td style="padding-right: 10px;">
						<img src="<%= base %>/media/mongovision-small.png" />
					</td>
					<td>
						<h2 style="font-size: 14px;">MongoVision</h2>
						<a href="http://code.google.com/p/mongo-vision/">Community and Support Site</a><br />
						Version <%= application.globals.get('mongovision.version') %>
					</td>
				</tr></table>		
			</td>
			<td width="98%" id="header-main" align="right">
			</td>
			<td width="1%" align="right">
				<table height="100%"><tr>
					<td>
						Made with <a href="http://threecrickets.com/prudence/">Prudence</a><br />
						By <a href="http://threecrickets.com/">Three Crickets</a>
					</td>
					<td style="padding-left: 10px;">
						<a href="http://threecrickets.com/prudence/"><img src="<%= base %>/media/prudence-small.png" /></a>
					</td>
				</tr></table>		
			</td>
		</tr></table>		
	</div>
</body>
</html>